[submodule ".registry"]
	path = .registry
	url = https://github.com/japal/japal.r-universe.dev
	branch = HEAD
[submodule "MALDIrppa"]
	path = MALDIrppa
	url = https://github.com/Japal/MALDIrppa
[submodule "zCompositions"]
	path = zCompositions
	url = https://github.com/Japal/zCompositions
